html {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  word-break: keep-all;
}

body {
  overflow: hidden;
  background-color: var(--gray-900);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
iframe {
  display: block;
}

button {
  font-size: 100%;
}
