html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.45;
  word-break: keep-all;
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}
