:root {
  --black: hsl(0, 0%, 0%);
  --gray-900: hsl(0, 0%, 8%);
  --gray-800: hsl(0, 0%, 13%);
  --gray-700: hsl(0, 0%, 20%);
  --gray-400: hsl(0, 0%, 45%);
  --gray-300: hsl(0, 0%, 65%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-100: hsl(0, 0%, 90%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(357, 92%, 46%);
  --orange: hsl(32, 98%, 46%);
}
