html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.45;
  word-break: keep-all;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

* {
  margin: 0;
}
